In [41]:
import gmaps
import gmaps.datasets
import pandas as pd
import numpy as np
gmaps.configure(api_key="AI...")

In [18]:
data = pd.read_csv('bikesStolen.csv', sep=',')
data.head(5)

,fromDate,toDate,fromTime,toTime,Brand,Model,Speed,Color,Location,lat,long
0,4/20/2014,4/20/2014,900,1200,URBAN,CRUISER,1,WHI,1000 CAMINO PESCADERO,34.410469,-119.858688
1,3/8/2011,3/8/2011,1630,1930,TREK,ALLANT,NaN,BLK,1000 EL EMBARCADERO RD,34.410216,-119.855947
2,6/10/2011,6/20/2011,1500,1000,PFFRAN,JULIUS,1,WHI,1000 EL EMBARCADERO RD,34.410216,-119.855947
3,8/4/2012,8/5/2012,2230,100,RETROS,58,1,SIL,1000 EL EMBARCADERO RD,34.410216,-119.855947
4,8/4/2012,8/5/2012,2230,100,NaN,NaN,1,BLK,1000 EL EMBARCADERO RD,34.410216,-119.855947

## Data Wrangling

In [19]:
print("Here we print out the latitude:")
data['lat'].head(10)

Here we print out the latitude:

0    34.410469
1    34.410216
2    34.410216
3    34.410216
4    34.410216
5    34.416437
6    34.416437
7    34.416437
8    34.416437
9    34.413791
Name: lat, dtype: float64

In [20]:
print("Here we see the longitude:")
data['long'].head(10)

Here we see the longitude:

0   -119.858688
1   -119.855947
2   -119.855947
3   -119.855947
4   -119.855947
5   -119.853841
6   -119.853841
7   -119.853841
8   -119.853841
9   -119.853885
Name: long, dtype: float64

In [21]:
longData = data['long']
print(longData.head(10))
latData = data['lat']
print(latData.head(10))

0   -119.858688
1   -119.855947
2   -119.855947
3   -119.855947
4   -119.855947
5   -119.853841
6   -119.853841
7   -119.853841
8   -119.853841
9   -119.853885
Name: long, dtype: float64
0    34.410469
1    34.410216
2    34.410216
3    34.410216
4    34.410216
5    34.416437
6    34.416437
7    34.416437
8    34.416437
9    34.413791
Name: lat, dtype: float64

In [40]:
# data.loc[:,['lat', 'long']] = data[['lat', 'long']].values
spatData = data[['lat', 'long']]
print(spatData.tail(44))
# We should remove all these null values first 
spatData = spatData.dropna()
print(spatData.tail(10))
tuples = [tuple(x) for x in spatData.values]
print(tuples[1:10])

          lat        long
896  34.41309 -119.855377
897       NaN         NaN
898       NaN         NaN
899       NaN         NaN
900       NaN         NaN
901       NaN         NaN
902       NaN         NaN
903       NaN         NaN
904       NaN         NaN
905       NaN         NaN
906       NaN         NaN
907       NaN         NaN
908       NaN         NaN
909       NaN         NaN
910       NaN         NaN
911       NaN         NaN
912       NaN         NaN
913       NaN         NaN
914       NaN         NaN
915       NaN         NaN
916       NaN         NaN
917       NaN         NaN
918       NaN         NaN
919       NaN         NaN
920       NaN         NaN
921       NaN         NaN
922       NaN         NaN
923       NaN         NaN
924       NaN         NaN
925       NaN         NaN
926       NaN         NaN
927       NaN         NaN
928       NaN         NaN
929       NaN         NaN
930       NaN         NaN
931       NaN         NaN
932       NaN         NaN
933       NaN         NaN
934       NaN         NaN
935       NaN         NaN
936       NaN         NaN
937       NaN         NaN
938       NaN         NaN
939       NaN         NaN

[44 rows x 2 columns]
           lat        long
887  34.412933 -119.856823
888  34.412933 -119.856823
889  34.412933 -119.856823
890  34.412933 -119.856823
891  34.413090 -119.855377
892  34.413090 -119.855377
893  34.413090 -119.855377
894  34.413090 -119.855377
895  34.413090 -119.855377
896  34.413090 -119.855377

[10 rows x 2 columns]
[(34.410215999999998, -119.855947), (34.410215999999998, -119.855947), (34.410215999999998, -119.855947), (34.410215999999998, -119.855947), (34.416437000000002, -119.85384099999999), (34.416437000000002, -119.85384099999999), (34.416437000000002, -119.85384099999999), (34.416437000000002, -119.85384099999999), (34.413790999999996, -119.85388500000001)]

In [81]:
m = gmaps.Map()
heatmap_layer = gmaps.Heatmap(data=tuples)
m.add_layer(heatmap_layer)
m

In [82]:
# Adding A E S T H E T I C S
heatmap_layer.max_intensity = 50
heatmap_layer.point_radius = 50
heatmap_layer.gradient = [
    (200, 200, 200, 0.3),
    'blue',
    'red'
]

In [83]:
tuples_layer = gmaps.symbol_layer(
    tuples, fill_color="red", stroke_color="red", scale=2
)
r = gmaps.Map()
r.add_layer(tuples_layer)
r